.find-agent {
  position: relative;
  width: 420px;
  height: 45px;
  margin-top: 60px;

  &_input {
    width: 100%;
    height: 56px;
    border-radius: 28px;
    border: 0.827px solid #fff;
    background: rgba(217, 217, 217, 0.2);
    padding-left: 20px;
  }

  &_button {
    position: absolute;
    right: 16px;
    top: 15%;
    width: 145px;
    height: 40px;
    border-radius: 30.5px;
    color: #fff;
    background-color: #31374f;
  }
}
