.about-us-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;
  margin: 15px 0;

  &_left {
    img {
      width: 496px;
      height: 200px;
      border-radius: 25px;
    }
  }

  &_right {
    img {
      width: 54px;
      height: 54px;
    }

    &_title {
      color: var(--2d-black, #2d2d2d);
      font-family: "Roobert PRO";
      font-size: 20px;
      font-weight: 700;
      text-transform: capitalize;
    }

    &_description {
      width: 404px;
      height: 107px;
      color: var(--gray-txt-btn, #757575);
      font-family: "Roobert PRO";
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      text-transform: capitalize;
    }
  }
}
