@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roobert";
  src: url("d6ae884b0a2f1a5346717fc160db2d28.eot");
  src: url("d6ae884b0a2f1a5346717fc160db2d28.eot?#iefix")
      format("embedded-opentype"),
    url("d6ae884b0a2f1a5346717fc160db2d28.woff") format("woff"),
    url("d6ae884b0a2f1a5346717fc160db2d28.woff2") format("woff2"),
    url("d6ae884b0a2f1a5346717fc160db2d28.ttf") format("truetype"),
    url("d6ae884b0a2f1a5346717fc160db2d28.svg#Roobert") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 85%;
  margin: auto;
}

.background-color1 {
  background: var(
    --Blue-Gradient,
    linear-gradient(99deg, #1e7ad4 4.47%, #abdaff 106.07%)
  );

  margin-right: 10px;
}

.background-color2 {
  background: linear-gradient(93deg, #ff8126 1.81%, #ffa426 94.75%);
}
