.business-text-card {
  width: 384px;
  height: 456px;
  border-radius: 20px;
  border: 1px solid rgba(242, 242, 242, 1);

  &_para {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.7px;
    letter-spacing: 0%;
    padding: 20px;

    p {
      margin-bottom: 15px;
    }
  }
}
