$color: #31374f;

.footer {
  width: 98%;
  margin: auto;
  height: 517px;
  background-color: $color;
  border-radius: 40px 40px 0px 0px;

  &_heading {
    width: 90%;
    margin: auto;

    img {
      margin: 20px 0px;
    }
  }

  &_content {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 50px auto auto auto;

    &_left {
      &_title {
        color: #fff;
        font-family: "Roobert PRO";
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      &_subtitle {
        width: 488px;
        height: 60px;
        color: #fff;
        font-family: "Roobert PRO";
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      &_data {
        display: flex;
        align-items: center;
        gap: 50px;
        margin-top: 40px;

        &_contact {
          &_title {
            color: #fff;
            font-family: "Roobert PRO";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }

          &_menu {
            list-style-type: none;

            &_item {
              color: #fff;
              font-family: "Roobert PRO";
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              margin-top: 10px;
            }
          }
        }
      }
    }

    &_right {
      &_content {
        display: flex;
        gap: 50px;

        &_section {
          display: flex;
          gap: 5px;

          img {
            opacity: 0.3;
          }

          &_count {
            color: #fff;
            font-family: "Roobert PRO";
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }

          &_text {
            color: #fff;
            font-family: "Roobert PRO";
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }

      &_mail {
        margin-top: 60px;
        &_text {
          color: #fff;
          font-family: "Roobert PRO";
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }

        &_search {
          margin-top: 10px;
          input {
            width: 455px;
            height: 43px;
            border-radius: 21.5px;
            border: 1px solid #d9d9d9;
            padding-left: 20px;
            background-color: $color;
          }

          button {
            width: 130px;
            height: 43px;
            border-radius: 21.5px;
            background: #fff;
          }
        }
      }
    }
  }
}
