.about {
  &_header {
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0.3)
      ),
      url("../../assets/house\ 1.png");
    height: 500px;
    background-position: right;
    background-repeat: no-repeat;

    &_heading {
      display: flex;
      align-items: center;

      &_title {
        color: var(--2d-black, #2d2d2d);
        font-family: "Roobert PRO";
        font-size: 128px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
      }

      &_subtitle {
        p {
          color: var(--2d-black, #2d2d2d);
          font-family: "Roobert PRO";
          font-size: 49.216px;
          font-style: normal;
          font-weight: 500;
          text-transform: capitalize;
        }
      }
    }

    &_text {
      width: 35%;
      &_title {
        color: var(--2d-black, #2d2d2d);
        font-family: "Roobert PRO";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
      }

      &_para {
        color: var(--gray-txt-btn, #757575);
        font-family: "Roobert PRO";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        margin-top: 10px;
      }
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
