.our-services {
  &-title {
    color: #2e303c;
    font-family: Arial, sans-serif;
    font-size: 27.197px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 70px;
  }

  &-container {
    display: inline-flex;
    gap: 20px;
  }
  .button {
    border-radius: 30.5px;
  }
}
