.button {
  padding: 13.5px 36px;
  border-radius: 27px;
  border: 0.907px solid #31374f;

  p {
    width: 100%;
    color: #31374f;
    font-family: "Roobert PRO";
    font-size: 14.505px;
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
  }
}
