// src/components/Frame861.scss
.frame861 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: #ffffff;

  font-family: Arial, sans-serif;
  .header {
    position: absolute;
    text-align: left; // Align header content to the left
    margin-bottom: 20px;
    top: 15%;
    left: 5%;

    .powered-by {
      font-size: 14px;
      color: #000000;
      margin-bottom: 5px;
    }

    .title {
      font-size: 32px;
      font-weight: bold;
      color: #ffa500; // Light orange color
      margin-bottom: 10px;
    }

    .subtitle {
      font-size: 32px;
      color: #333333;
    }
  }

  .content {
    top: 1%;
    text-align: center; // Align content to the left
    max-width: 400px;
    position: relative;

    .description {
      font-size: 18px;
      color: #808080; // Ash color
      margin-bottom: 20px;
      font-weight: bold;
    }

    .search-container {
      position: relative;
      width: 500px;
      max-width: 800px;

      .search-input {
        padding: 10px 120px 10px 10px; // Add padding for the button
        font-size: 16px;
        border: 1px solid #cccccc;
        border-radius: 30.5px;
        width: 100%;
      }

      .search-button {
        position: absolute;
        right: 16px;
        top: 15%;
        width: 145px;
        height: 40px;
        border-radius: 30.5px;
        color: #fff;
        background-color: #31374f;

        &:hover {
          background-color: #e59400; // Darker shade on hover
        }
      }
    }
  }
}
